  <head>
    <meta charset="utf-8">

    <title>αντικείμενα / objects</title>
    <meta name="description" content="">
    <meta name="author" content="">

  <link rel="stylesheet" href="{{ "/assets/css/normalize.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/skeleton.css" | relative_url }}">


    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet"> 
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/2.1.6/jquery.cycle2.min.js" integrity="sha512-lvcHFfj/075LnEasZKOkj1MF6aLlWtmpFEyd/Kc+waRnlulG5er/2fEBA5DBff4BZrcwfvnft0PiAv4cIpkjpw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 

<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>


   <!--<script src="{{ "/assets/js/cycle.js" | relative_url }}"></script>
<link rel="stylesheet" href="{{ '/assets/css/tooltip.min.css' | relative_url }}">
<script src="{{ '/assets/js/tooltip.min.js' | relative_url }}"></script>
-->
  




  </head>
  <body>
